.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 185px));
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  overflow-y: auto;
}

.movie-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 185px;
}

.movie-title {
  font-weight: bold;
  margin: 0.2rem;
}

.movie-rating {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.load-more-button {
  margin-bottom: 5rem;
  font-size: 1.3rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nav-background);
  font-size: 1.5rem;
  font-weight: 600;
  gap: 1rem;
  padding: 2rem;
}

.loading-spinner {
  width: 40px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
