/* Layout */

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-background);
  align-items: center;
  color: var(--primary-background);
  padding: 1rem 0;
  font-weight: 900;
  gap: 1rem;
}

h1 {
  margin: 0;
  background-color: var(--nav-background);
  color: var(--primary-background);
  padding-top: 0.5rem;
}

footer {
  background-color: var(--nav-background);
  color: var(--primary-background);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Navigation */
.app-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  color: var(--button-color);
  align-items: center;
}

.app-nav .active {
  color: var(--nav-text);
  text-decoration: underline;
}

nav span:hover {
  color: var(--button-hover);
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Search Bar */
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* @media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
} */
